@model IEnumerable<RedBadge.Models.PlayerModels.PlayerListItem>

@{
    ViewData["Title"] = "Player List";
}

<h1>Players</h1>

@Html.ActionLink("Add Player", "Post", "Player")

<div class="card mt-3">
    <div class="card-body">
        <table class="table">
            <tbody>
                @foreach (var player in Model)
                {
                    <tr>
                        <td>@player.Name</td>
                        <td>
                            @Html.ActionLink("Details", "Details", "Game", new {id=player.Id})
                            @Html.ActionLink("Edit", "Edit", "Game", new {id=player.Id})
                            @Html.ActionLink("Delete", "Delete", "Game", new {id=player.Id})
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
