@model IEnumerable<RedBadge.Models.PlayerModels.PlayerListItem>

@{
    ViewData["Title"] = "Player List";
}

@Html.ActionLink("Add New Player", "Post", "Player")

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var player in Model)
        {
            <tr>
                <td>@player.Id</td>
                <td>@player.Name</td>
                <td>
                    @Html.ActionLink("Details", "Details", "Player", new {id=player.Id})
                    @Html.ActionLink("Edit", "Edit", "Player", new {id=player.Id})
                    @Html.ActionLink("Delete", "Delete", "Player", new {id=player.Id})
                </td>
            </tr>
        }
    </tbody>
</table>
