@model IEnumerable<GameListItem>

@{
    ViewData["Title"] = "Games List";
}

@Html.ActionLink("Add New Game", "Post", "Game")

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var game in Model)
        {
            <tr>
                <td>@game.Id</td>
                <td>@game.Name</td>
                <td>
                    @Html.ActionLink("Details", "Details", "Game", new {id=game.Id})
                    @Html.ActionLink("Edit", "Edit", "Game", new {id=game.Id})
                    @Html.ActionLink("Delete", "Delete", "Game", new {id=game.Id})
                </td>
            </tr>
        }
    </tbody>
</table>
